#rgb-container {
    width: 100%;
    max-width:800px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 500px;
    margin-bottom: 25px;
  }

.lightshow-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    min-width: 800px;
  }


#colorMixer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#hexCode {
    margin-top: 20px;
}

#colorMixer svg {
    margin-top: 20px;
    width: 50%;
}

.isolate {
    isolation: isolate;
}

circle {
    mix-blend-mode: screen;
}

#result {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 50%;
    border: 1px solid #000;
}

.rgb-color {
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #f5f5f5;
}

button {
    padding: 10px 20px; 
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}
